# Python Fundamentals

## Data types

### Fundamentals
int, float, bool, str, tuple, list, dict, set, None

In [100]:
# To see the type of the variable
type(2)

int

In [101]:
type('Hello')

str

### Variables

In [102]:
# Assign a value to a variable
username = 'Andy'
username

'Andy'

In [103]:
age = 19
age

19

In [104]:
# Multiple assigns
user_name, user_age, user_gender = 'Andy', 32, 'Female'
print(user_name, user_age, user_gender)

Andy 32 Female

#### Convention
snake_case: user_name, user_age, capital_city

#### Operator
Basic arithmetics:  = + - * / % **\
Augmented assignment:  += -= *= /=

In [105]:
# Side effects of binary operation
0.1 + 0.2

0.30000000000000004

#### Booleans and Comparison Operator

True, False\
operator: < > >= <= != ==\
logical: or and not

#### Strings

single line: ' '   " "\
multiline:  '''  '''\
concatenation: '' + ''\
f-strings: f'my name is {var}'

In [106]:
'a'+"b"

'ab'

In [107]:
var = 'Andy'
f'My name is {var}'

'My name is Andy'

#### Built-in methods

ðŸ§µ str (String)
| Method                      | Description                                  |
| --------------------------- | -------------------------------------------- |
| `.lower()`                  | Converts all characters to lowercase         |
| `.upper()`                  | Converts all characters to uppercase         |
| `.capitalize()`             | Capitalizes the first letter only            |
| `.title()`                  | Capitalizes the first letter of each word    |
| `.strip()`                  | Removes whitespace (or chars) from both ends |
| `.replace(a, b)`            | Replaces substring `a` with `b`              |
| `.split(sep)`               | Splits string into a list                    |
| `.join(iterable)`           | Joins iterable elements into a string        |
| `.find(sub)`                | Returns the first index of `sub` or `-1`     |
| `.startswith(prefix)`       | Checks if string starts with prefix          |
| `.endswith(suffix)`         | Checks if string ends with suffix            |
| `.count(sub)`               | Counts occurrences of substring              |
| `.isalpha()`                | True if all chars are letters                |
| `.isdigit()`                | True if all chars are digits                 |
| `.isalnum()`                | True if all chars are alphanumeric           |
| `.isspace()`                | True if only whitespace                      |
| `.format()` / `f""`         | String formatting                            |
| `.center()/ljust()/rjust()` | Aligns text within a field                   |

ðŸ“œ list (List)
| Method              | Description                                |
| ------------------- | ------------------------------------------ |
| `.append(x)`        | Adds an element to the end                 |
| `.extend(iterable)` | Adds multiple elements                     |
| `.insert(i, x)`     | Inserts element at index `i`               |
| `.remove(x)`        | Removes the first occurrence of `x`        |
| `.pop(i)`           | Removes and returns element at index `i`   |
| `.clear()`          | Removes all elements                       |
| `.sort()`           | Sorts list in place                        |
| `.reverse()`        | Reverses list order                        |
| `.copy()`           | Returns a shallow copy                     |
| `len(lst)`          | Returns number of elements                 |
| `sum(lst)`          | Returns the sum of elements (numeric only) |

ðŸ”‘ dict (Dictionary)
| Method               | Description                                |
| -------------------- | ------------------------------------------ |
| `.keys()`            | Returns a view of keys                     |
| `.values()`          | Returns a view of values                   |
| `.items()`           | Returns pairs (key, value)                 |
| `.get(key, default)` | Returns value or default                   |
| `.pop(key)`          | Removes and returns a value by key         |
| `.popitem()`         | Removes and returns the last inserted pair |
| `.update(d)`         | Updates dictionary with another one        |
| `.clear()`           | Removes all items                          |
| `.copy()`            | Returns a shallow copy                     |
| `key in dict`        | Checks if key exists                       |

âš™ï¸ set (Set)
| Method                                | Description                                         |
| ------------------------------------- | --------------------------------------------------- |
| `.add(x)`                             | Adds an element to the set                          |
| `.remove(x)`                          | Removes an element (raises `KeyError` if not found) |
| `.discard(x)`                         | Removes an element if present (no error if missing) |
| `.pop()`                              | Removes and returns a random element                |
| `.clear()`                            | Removes all elements from the set                   |
| `.union(other)`                       | Returns the union of sets                           |
| `.intersection(other)` or `&`         | Returns the intersection of sets                    |
| `.difference(other)` or `-`           | Returns the difference between sets                 |
| `.symmetric_difference(other)` or `^` | Returns elements not in both sets                   |
| `.issubset(other)`                    | Returns True if set is subset of another            |
| `.issuperset(other)`                  | Returns True if set is superset of another          |
| `.isdisjoint(other)`                  | Returns True if sets have no elements in common     |
| `.copy()`                             | Returns a shallow copy of the set                   |

ðŸ”¢ int / float (Numbers)
| Method / Function               | Description                                |
| ------------------------------- | ------------------------------------------ |
| `.bit_length()`                 | Number of bits needed (int only)           |
| `.to_bytes()` / `.from_bytes()` | Binary conversion (int)                    |
| `abs(x)`                        | Absolute value                             |
| `round(x, n)`                   | Rounds to `n` decimals                     |
| `pow(x, y)` / `x ** y`          | Power                                      |
| `divmod(x, y)`                  | Returns (quotient, remainder)              |
| `x.real`, `x.imag`              | Real and imaginary parts (complex numbers) |

âš™ï¸ Universal Built-ins (Work on Most Types)
| Function              | Description                      |
| --------------------- | -------------------------------- |
| `type(x)`             | Returns the objectâ€™s type        |
| `id(x)`               | Returns memory identifier        |
| `isinstance(x, type)` | Checks object type               |
| `len(x)`              | Returns number of elements       |
| `sorted(x)`           | Returns sorted list              |
| `sum(x)`              | Sums elements                    |
| `max(x)` / `min(x)`   | Largest / smallest element       |
| `enumerate(x)`        | Iterates with index              |
| `zip(a, b)`           | Pairs elements from sequences    |
| `map(f, x)`           | Applies function to all elements |
| `filter(f, x)`        | Filters elements                 |
| `any(x)` / `all(x)`   | Logical checks across iterables  |

#### List [,]

In [108]:
# simple list - 0 base index 
ages = [12, 14, 13, 8] # index - 0,1,2
ages

[12, 14, 13, 8]

In [109]:
# access with index
ages[0]

12

In [110]:
# select sub-list [start : end] -> [from index: to index - 1]
ages[1:3]

[14, 13]

In [111]:
# get the last element
ages[-1]

8

In [112]:
print(min(ages), max(ages), len(ages))

8 14 4

In [113]:
sorted(ages)

[8, 12, 13, 14]

In [114]:
# reverse a list (don't change the original)
print(ages[::-1], sorted(ages, reverse=True))

[8, 13, 14, 12] [14, 13, 12, 8]

In [115]:
ages.reverse() # change the original
ages

[8, 13, 14, 12]

In [116]:
# Append new age at the end
ages.append(10)
ages

[8, 13, 14, 12, 10]

In [117]:
# insert an age at index=2
ages.insert(2,15)
ages

[8, 13, 15, 14, 12, 10]

In [118]:
# Remove (first ocurrence)
ages.append(15)
ages.remove(15)
ages

[8, 13, 14, 12, 10, 15]

In [120]:
# join string list
full_name = ['Andy', 'Sympson']
' '.join(full_name)

'Andy Sympson'

#### Tuples (,)

In [121]:
u2 = ('band', 2023)
type(u2)

tuple

In [ ]:
# tuples are immutable -> u2[1] = 2020 -> err
u2[1]

2023

#### Sets {,}

In [125]:
# sets are unordered set1[1] -> err
set1 = {12, 14, 14, 15}
set1

{12, 14, 15}

In [126]:
set1.add(20)
set1

{12, 14, 15, 20}

In [127]:
set1.discard(12)
set1

{14, 15, 20}

In [131]:
A = {1,2,4,6,7}
B = {1,2,3,5,7,8}
print(A.union(B), A.intersection(B), A.difference(B), B.difference(A), A.issubset(B))

{1, 2, 3, 4, 5, 6, 7, 8} {1, 2, 7} {4, 6} {8, 3, 5} False

In [ ]:
# Get unique values of a list
list1 = [1,2,2,1,4,3,3,2,2,1,3,5,2,2,1,5]
unique = set(list1)
list(unique)

[1, 2, 3, 4, 5]

#### Dictionary {k1:v1,k2:v2}

In [134]:
dict1 = {'Andy': 21, 'Rob': 22}
dict1

{'Andy': 21, 'Rob': 22}

In [137]:
dict1['Andy']

21

In [138]:
# get don't break for miss keys
print(dict1.get('Andy'), dict1.get('Suel'))

21 None

In [139]:
# Insert new element
dict1['Tom'] = 19
dict1

{'Andy': 21, 'Rob': 22, 'Tom': 19}

In [140]:
# remove
dict1.pop('Andy')
dict1

{'Rob': 22, 'Tom': 19}

In [143]:
print(dict1.keys(), dict1.values(), dict1.items())

dict_keys(['Rob', 'Tom']) dict_values([22, 19]) dict_items([('Rob', 22), ('Tom', 19)])

In [144]:
# A list of key values
list(dict1.keys())

['Rob', 'Tom']

#### Membership operator 'in'

In [145]:
'Rob' in dict1

True

In [147]:
22 not in ages

True

In [148]:
19 in list(dict1.values())

True

In [150]:
name = 'Tom Kovstiod'
print('ovs' in name, 'to' in name)

True False

#### Conditional

In [156]:
quantity = 0

if quantity > 10:
    print('yes')
else:
    print('no')

no

In [157]:
if quantity <= 10:
    print('low')
elif quantity > 10 and quantity <= 50:
    print('medium')
else:
    print('high')

low

In [167]:
# False values: None, False, (), {}, [],'', 0, 0.0
if '':
    print('True')
else:
    print('False')

False

#### For Loop

In [168]:
fruits = ['orange', 'apple', 'pineapple', 'grape']

for fruit in fruits:
    print(fruit)

orange
apple
pineapple
grape

In [169]:
for char in fruits[0]:
    print(char)

o
r
a
n
g
e

In [170]:
# range -> range(start: end: step)
list(range(1,4))

[1, 2, 3]

In [172]:
list(range(20,50,3))

[20, 23, 26, 29, 32, 35, 38, 41, 44, 47]

In [ ]:
# for loops using range(a) (a=stop, start=0)
n = 5
bla = 'bla'

for i in range(n):
    print(bla + str(i))

bla0
bla1
bla2
bla3
bla4

#### While loop

In [ ]:
# How many games can be played if it dobles the cost for each round;
balance = 2000
cost_round = 24
played = 0

while balance > cost_round:
    played += 1
    balance -= cost_round
    cost_round *= 2

print(f'played games {played}, balance {balance}, cost for next game {cost_round}')

played games 6, balance 488, cost for next game 1536

##### Break and Continue

In [197]:
values = [1, 3, 5, 6, 8, 10, 11, 14, 16, 20]

for value in values:
    if value > 10: break
    print(value)

1
3
5
6
8
10

In [195]:
# continue -> skip
for value in values:
    if value > 5 and value < 10: continue
    print(value)

1
3
5
10
11
14
16
20

#### Zipping iterables

In [209]:
fruits = ['orange', 'apple', 'pineapple', 'grape', 'melon']
prices = [1.12, 2.26, 3.51, 5.98, 3.54]
amount = [10, 2, 1, 4, 1]

list(zip(fruits, prices, amount))

[('orange', 1.12, 10),
 ('apple', 2.26, 2),
 ('pineapple', 3.51, 1),
 ('grape', 5.98, 4),
 ('melon', 3.54, 1)]

In [210]:
for f, p, a in zip(fruits, prices, amount):
    print(f'{f.capitalize()} costs {p} and bougth {a}')

Orange costs 1.12 and bougth 10
Apple costs 2.26 and bougth 2
Pineapple costs 3.51 and bougth 1
Grape costs 5.98 and bougth 4
Melon costs 3.54 and bougth 1

#### List comprehension

In [214]:
doble_amount = [a*2 for a in amount]
doble_amount

[20, 4, 2, 8, 2]

In [217]:
even_amount = [a for a in amount if a % 2 == 0]
even_amount

[10, 2, 4]

In [219]:
odd_amount = [a for a in amount if a % 2 == 1]
odd_amount

[1, 1]

#### Function

In [224]:
def dict_fruits(fruits, prices):
    dict_temp = {}
    
    for f,p in zip(fruits, prices):
        dict_temp[f] = p

    return dict_temp

fruits = ['orange', 'apple', 'pineapple', 'grape', 'melon']
prices = [1.12, 2.26, 3.51, 5.98, 3.54]

dict_fruits(fruits, prices)

{'orange': 1.12,
 'apple': 2.26,
 'pineapple': 3.51,
 'grape': 5.98,
 'melon': 3.54}

#### Lambdas

In [ ]:
# Nameless function that is used once.

[(lambda x: x*1.1)(p) for p in prices]

[1.2320000000000002,
 2.4859999999999998,
 3.861,
 6.578000000000001,
 3.8940000000000006]

In [ ]:
list(map(lambda x: 2*x -1, [n for n in range(10) if n % 2 == 1]))

[1, 5, 9, 13, 17]